*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table{
    width: 80%;
    border-collapse: collapse;
    border: 3px solid darkcyan;
}
th{
    color: white;
    background-color: cadetblue;
}
td{
    padding: 10px;
    text-align: center;
    border: 3px solid darkcyan;
}
tr:nth-child(odd){ /*even*/
    background-color: cadetblue;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.descripcion{
    width: 40%;
}